<p>Selectati operatiunea pe care doriti sa o realizati:</p>
<form action="AdminServlet" method="post">
	<select name="op">
	    <option value="create">Create</option>
	    <option value="read">Read</option>
	    <option value="update">Update</option>
	    <option value="delete">Delete</option>
	</select> <br><br>
	<input type="submit" value="send">
</form>