<p>Completati toate campurile pentru a introduce un nou zbor:</p>
<form action="CreateServlet" method="post">
	Tip avion: <input type="text" name="type"/><br>
	Oras plecare: <input type="text" name="plecare"/><br>
	Data si ora plecarii: <input type="text" name="datap"/><br>
	Oras sosire: <input type="text" name="sosire"/><br>
	Data si ora sosirii: <input type="text" name="datas"/><br><br>
	<input type="submit" value="adauga">
</form>