<a href="login.html">Login</a> |  
<a href="LogoutServlet">Logout</a> |  
<img src="Z:/facultate/AN IV/semI/SD/laborator/FlightsProject/src/main/webapp/flightlink.jpg" height="50" width="1024">
<hr>  