<p>Pentru a vizualiza ora locala a orasului de plecare/sosire a unui zbor, va rugam introduceti in casuta de mai jos orasul dorit</p>
<form action="UserServlet" method="post">
Oras plecare: <input type="text" name="plecare"><br>
sau<br>
Oras sosire: <input type="text" name="sosire"><br>
<input type="submit" value="cauta">
</form>