<p>Select the operation you want to do:</p>
<form action="Admin2Servlet" method="post">
	<select name="op">
	    <option value="create">Add package</option>
	    <option value="register">Register package for tracking</option>
	    <option value="update">Package status updating</option>
	    <option value="delete">Delete package</option>
	</select> <br><br>
	<input type="submit" value="send">
</form>