<p>You can do the following operations:</p>
<form action="User2Servlet" method="post">
Search package by name<br>
Name: <input type="text" name="namePackage"><br>
<br>
<br><input type="submit" value="Check"><br>
<br>
Check the status of your package<br>
Package's id: <input type="text" name="idPackage"><br>
</form>